/* line 1, ../sass/_partials/contact.scss */
.screenReader {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

/* line 7, ../sass/_partials/contact.scss */
.thanks {
  background: #F2F3F6;
  border: 1px solid #7E8AA2;
  padding: 10px;
}

/*****Forms*****/
/* line 15, ../sass/_partials/contact.scss */
ol .forms {
  float: left;
  list-style: none;
  margin: 0;
  width: 100%;
}
/* line 21, ../sass/_partials/contact.scss */
ol .forms li {
  clear: both;
  float: left;
  margin-bottom: 18px;
  position: relative;
  width: 100%;
}
/* line 28, ../sass/_partials/contact.scss */
ol .forms label {
  cursor: pointer;
  display: block;
  float: left;
  font-weight: bold;
  padding-right: 20px;
  width: 100px;
}
/* line 37, ../sass/_partials/contact.scss */
ol .forms input, ol .forms ol.forms textarea {
  border: 1px solid #7E8AA2;
  border-radius: 3px;
  font: inherit;
  -moz-border-radius: 3px;
  padding: 2px;
  -webkit-border-radius: 3px;
  width: 214px;
}
/* line 47, ../sass/_partials/contact.scss */
ol .forms textarea {
  height: 300px;
  width: 334px;
}
/* line 52, ../sass/_partials/contact.scss */
ol .forms input:focus, ol .forms ol.forms textarea:focus {
  background-color: #f2f3f6;
  border-color: #ff9800;
}
/* line 58, ../sass/_partials/contact.scss */
ol .forms li .inline {
  float: right;
  width: 460px;
}
/* line 62, ../sass/_partials/contact.scss */
ol .forms li .error {
  font-size: 12px;
  margin-left: 20px;
}
/* line 66, ../sass/_partials/contact.scss */
ol .forms li .textarea .error {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}
/* line 74, ../sass/_partials/contact.scss */
ol .forms li .screenReader {
  margin-bottom: 0;
}
/* line 79, ../sass/_partials/contact.scss */
ol .forms li .buttons button {
  background: #ff9800;
  border: none;
  color: #000;
  cursor: pointer;
  font: 16px/16px "Avenir LT Std", Helvetica, Arial, sans-serif;
  overflow: hidden;
  padding: 6px 3px 3px 3px;
  text-transform: uppercase;
  width: auto;
}
/* line 90, ../sass/_partials/contact.scss */
ol .forms li .buttons button:hover {
  color: #222;
}
/* line 94, ../sass/_partials/contact.scss */
ol .forms li .buttons button:active {
  left: -1px;
  position: relative;
  top: -1px;
}
/* line 102, ../sass/_partials/contact.scss */
ol .forms li .inline input {
  width: auto;
}
/* line 106, ../sass/_partials/contact.scss */
ol .forms li .inline label {
  display: inline;
  float: none;
  width: auto;
}
/* line 113, ../sass/_partials/contact.scss */
ol .error {
  color: #f00;
}
