/*_variables.scss */

$black:                 #000;
$white:                 #fff;
$light-grey:            #f3f3f3;
$light-grey-2:          #eeeef3;
$grey:                  #615561;
$grey-2:                #171718;
$grey-3:                #333;
$dark-grey:             #15110C;
$pink:                  #aa385e;
$light-pink:            #cc879e;
$orange:                #ff9900;
$light-orange:          #ffb240;

