// listes articles
.articles{
    .post {
        padding: 10px;
        background: $light-grey-2;
        margin: 0 0 30px;
        border-radius: 5px;
        a {
            color: $orange;
            text-decoration: none;
            &:hover {
                color: $black;
                text-decoration: none;
            }
        }
        p {
            color: $grey-3;
            font-size: 24px;
        }
    }}
