.article {
    background: transparent;
    margin-top: 25px;
    .post{
        a {
            color: $orange;
            text-decoration: none;
            text-transform: uppercase;
            &:hover, &:active, &:focus {
                color: $orange;
                text-decoration: none;
            }
        }
        h2{
            margin-top: 0;
        }
    }


    .prev_next a {
        font-weight: bold;
    }
}