.home_content {
    h2 a {
        color: $orange;
        text-decoration: none;
        &:hover, &:focus, &:active {
            text-decoration: none;
        }
    }

    h2, p {
        text-align: center;
    }

    p{
        color: #eeeef3;
        font-size: 18px;
    }
}