.home_content {
    h2 a {
        color: $orange;
        text-decoration: none;
        text-align: center;
        display: block;
        &:hover, &:focus, &:active {
            text-decoration: none;
        }
    }
    .post_content {
        padding-top: 20px;
        h2, p {
            text-align: center;
            color: $light-grey-2;
            font-size: 18px;
        }
    }
}